.search-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

h2 {
    text-align: center;
    color: #828A95;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;

}

.search-btn {
    display: block;
    margin: 1rem auto;
    background-color: #CEEAF7;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #d5c9df;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container {
    flex-basis: calc(33.33% - 1rem);
    margin-bottom: 1rem;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

select[multiple] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d5c9df;
    background-color: #f5f5f5;
    border-radius: 5px;
    outline: none;
}

option {
    padding: 0.5rem;
}