/* Kolory z palety */
:root {
    --main-text: #828A95;
    --light-blue: #CEEAF7;
    --light-gray: #CCD7E4;
    --light-purple: #D5C9DF;
    --dark-purple: #DCB8CB;
}

body {
    font-family: 'Arial', sans-serif;
}

.head{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

.head h1{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
    color: #dcb8cb;
}

.head button{
      background-color: #d5c9df; /* Kolor przycisku */
      border: none;
      color: #000000; /* Kolor tekstu przycisku */
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
}

.head button:hover {
    background-color: var(--dark-purple);
}

.ref a{
    color: #CEEAF7;
    text-decoration: none;
}

/* Styl dla formularza */
#image-form {
    margin-top: 20px;
}

#image-form label {
    margin: 10px 0;
    color: var(--main-text);
    font-size: 1.2em;
}

#image-form input,
#image-form textarea,
#image-form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}

#image-form button {
    background-color: var(--light-blue);
    color: var(--main-text);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 2em;
}

#image-form button:hover {
    background-color: var(--dark-purple);
}

/* Styl dla komunikatu ładowania */
#loading-message p {
    color: var(--main-text);
    text-align: center;
    font-size: 1.2em;
}

/* Styl dla wygenerowanych obrazów */
.card {
    transition: transform 0.3s;
    position: relative;
}

.card:hover {
    transform: scale(0.98);
}

.card-img-top {
    object-fit: cover;
}

.download-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #CCD7E4;
    border: 1px solid #CEEAF7;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: none;
}

.card:hover .download-btn{
    display: flex;
}

.download-btn img {
    width: 20px;
    height: 20px;
    color: white;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

@media (max-width: 768px) {
    #image-form {
        width: 90%;
    }

    .thumbnail img {
        max-width: 90%;
    }
}
