h2{
    vertical-align: center;
    text-align: left;
}

.photo{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.thumbnail{
    transition: transform 0.3s;
    cursor: pointer;
}

.thumbnail:hover {
  transform: scale(0.95);
}
