.logout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #828A95;
    margin-bottom: 20px;
}

.logout-container p {
    color: #D5C9DF;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.return-btn {
    background-color: #CEEAF7;
    color: #828A95;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.return-btn:hover {
    background-color: #D5C9DF;
}
