{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/style-artist-detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="artist-detail container">
        <h1>Informacje o artyście: {{ artist.first_name }} {{ artist.last_name }}</h1>
        <div class="row">
            <div class="col-md-6 artist-photo">
                <img src="{{ artist.photo.url }}" alt="{{ artist.first_name }} {{ artist.last_name }}">
            </div>
            <div class="col-md-6 artist-info">
                <p>{{ artist.first_name }} {{ artist.last_name }} - {{ artist.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}

