{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Galeria{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6Rqe9CabmIaF5z5uJsNR6bN4VRzfePP5/+/3eSTs2Ck5BdPtF+to8xM6B5z6W5zCI" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style-base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

</head>

<body>
  <nav class="navbar top-nav">
    <div class="logo">
      <a href="{% url 'home' %}"><img src="{% static 'img/logo2.png' %}" alt="Logo"></a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
        <ul class="menu">
          <li class="menu-item"><a href="{% url 'home' %}">Strona główna</a></li>
          <li class="menu-item"><a href="{% url 'artists' %}">Artyści</a></li>
          <li class="menu-item"><a href="{% url 'galleries' %}">Galerie</a></li>
          {% if not user.is_authenticated %}
            <li class="menu-item">
                <div class="login ">
                    <a href="{% url 'signup' %}"><p>Zarejestruj się</p></a>
                </div>
            </li>
            <li class="menu-item">
                <div class="login ">
                    <a href="{% url 'signin' %}"><p>Zaloguj się</p></a>
                </div>
            </li>
          {% else %}
            <li class="menu-item">
                <div class="logged-in-info ">
                    <a class="nav-link">Logged in as {{ user.username }}</a>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'logout_view' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                    </form>
                </div>
            </li>
            <li class="menu-item">
                <div class="profile-link ">
                    <a href="{% url 'user_profile' user.username %}">Profil</a>
                </div>
            </li>
        {% endif %}
        </ul>
  </nav>

  {% block content %}
  {% endblock %}


<div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Copyright &copy; 2023</p>
        </footer>
    </div>


<!-- Bootstrap core JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>