{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/style-generate-image.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="head">
            <h1>Wygeneruj swoje zdjęcie:</h1>
        </div>


        <div class="container mt-5">
            <form method="post" id="image-form" class="text-center">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="prompt" class="form-label">
                            Wpisz zapytanie (po angielsku):
                            <span class="help-icon" data-tooltip="Tu wpisz swoje zapytanie po angielsku.&#010;&#013;Będzie ono użyte do wygenerowania obrazu.&#010;&#013;Przykład: 'castle, blue sky background'">
                                <img src="{% static 'img/question-mark.png' %}" alt="?">
                            </span>
                        </label>
                        <!-- Ustawienie wartości textarea na wartość prompt -->
                        <textarea id="prompt" name="prompt" required rows="4" class="form-control">{{ request.POST.prompt|default:"Tu wpisz swoje zapytanie" }}</textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="negative_prompt" class="form-label">
                            Wpisz negatywne zapytanie:
                            <span class="help-icon" data-tooltip="Tu wpisz to, czego nie chcesz widzieć na obrazie.&#010;&#013;Przykład: 'deformed, out of frame, blurry'">
                                <img src="{% static 'img/question-mark.png' %}" alt="?">
                            </span>
                        </label>
                        <!-- Ustawienie wartości textarea na wartość negative_prompt -->
                        <textarea id="negative_prompt" name="negative_prompt" rows="4" class="form-control">{{ request.POST.negative_prompt|default:"ugly, deformed, poor quality" }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="number_of_images" class="form-label">Ilość obrazów (1-10):</label>
                        <!-- Ustawienie wartości input na wartość number_of_images -->
                        <input type="number" id="number_of_images" name="number_of_images" value="{{ request.POST.number_of_images|default:1 }}" min="1" max="30" required class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="seed" class="form-label">
                            Seed:
                            <span class="help-icon" data-tooltip="Tzw. 'ziarno'.&#010;&#013;Gdy używasz tego samego numeru (seed), wyniki są zawsze takie same.&#010;&#013;UWAGA: Ustawienie seed = -1 oznacza wybranie LOSOWEJ wartości za każdym razem.">
                                <img src="{% static 'img/question-mark.png' %}" alt="?">
                            </span>
                        </label>
                        <!-- Ustawienie wartości input na wartość seed -->
                        <input type="number" id="seed" name="seed" value="{{ request.POST.seed|default:1 }}" required class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="width" class="form-label">Szerokość (256-1024):</label>
                        <input type="number" id="width-number" name="width" value="{{ request.POST.width|default:512 }}" min="256" max="1024" class="form-control" oninput="this.nextElementSibling.value = this.value">
                        <input type="range" id="width" name="width" min="256" max="1024" value="{{ request.POST.width|default:512 }}" class="form-slider" oninput="this.previousElementSibling.value = this.value">
                    </div>
                    <div class="col-md-4">
                        <label for="height" class="form-label">Wysokość (256-1024):</label>
                        <input type="number" id="height-number" name="height" value="{{ request.POST.height|default:512 }}" min="256" max="1024" class="form-control" oninput="this.nextElementSibling.value = this.value">
                        <input type="range" id="height" name="height" min="256" max="1024" value="{{ request.POST.height|default:512  }}" class="form-slider" oninput="this.previousElementSibling.value = this.value">
                    </div>
                    <div class="col-md-4">
                        <label for="num_inference_steps" class="form-label">
                            Ilość kroków (1-100):
                            <span class="help-icon" data-tooltip="Im więcej kroków, tym bardziej szczegółowy obraz,&#010;&#013;ale też dłuższy czas generowania.">
                                <img src="{% static 'img/question-mark.png' %}" alt="?">
                            </span>
                        </label>
                        <input type="number" id="steps" name="steps" value="{{ request.POST.steps|default:20 }}" min="1" max="100" class="form-control" oninput="this.nextElementSibling.value = this.value">
                        <input type="range" id="steps" name="steps" min="1" max="100" value="{{ request.POST.steps|default:20 }}" class="form-slider" oninput="this.previousElementSibling.value = this.value">
                    </div>
                </div>
                <input type="hidden" name="action" id="form-action" value="generate">
                <button type="submit" onclick="document.getElementById('form-action').value='generate';" class="btn btn-primary">Generuj obraz</button>

                <!-- Przycisk, który otwiera modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#preferencesModal">Pokaż zapisane prompty</button>
                <button type="submit" onclick="document.getElementById('form-action').value='save';" class="btn btn-secondary">Zapisz prompt</button>
                <!-- Modal-->
                <div class="modal fade" id="preferencesModal" tabindex="-1" role="dialog" aria-labelledby="preferencesModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="preferencesModalLabel">Zapisane Preferencje</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="alert-box" class="alert" style="display: none;"></div>
                                {% if saved_preferences %}
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Prompt</th>
                                                <th>Negatywny prompt</th>
                                                <th>Seed</th>
                                                <th>Wysokość</th>
                                                <th>Szerokość</th>
                                                <th>Liczba kroków</th>
                                                <th>Akcje</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for preference in saved_preferences %}
                                              <tr>
                                                <td>{{ preference.prompt }}</td>
                                                <td>{{ preference.negative_prompt }}</td>
                                                <td>{{ preference.seed }}</td>
                                                <td>{{ preference.height }}</td>
                                                <td>{{ preference.width }}</td>
                                                <td>{{ preference.steps }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm" onclick="fillForm('{{ preference.prompt|escapejs }}', '{{ preference.negative_prompt|escapejs }}', '{{ preference.seed }}', '{{ preference.height }}', '{{ preference.width }}', '{{ preference.steps }}')">Użyj</button>
                                                    <button type="button" class="btn btn-danger btn-sm" id="delete-button" onclick="deletePreference({{ preference.id }})">Usuń</button>
                                                </td>
                                              </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>Brak zapisanych preferencji.</p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div id="loading-message" class="text-center" style="display: none;">
                <p class="ref">
                    Ładowanie obrazów, proszę czekać...<br>
                    W międzyczasie obejrzyj inne obrazy --> <a href="{% url 'search_images' %}" target="_blank">kliknij tutaj</a>
                </p>
            </div>

            {% if images_urls %}
                <div id="images-container" class="row">
                {% for image_url in images_urls %}
                    <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                        <div class="card">
                            <a href="{{ image_url }}" target="_blank">
                                <img src="{{ image_url }}" class="card-img-top" alt="Wygenerowany obraz" title="{{ request.POST.prompt }}" onload="imageLoaded()" >
                            </a>
                            <button onclick="downloadImage('{{ image_url }}')" class="download-btn">
                                <img src="{% static 'img/download-icon.png' %}" alt="Download">
                            </button>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}

            {% if error %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}
        </div>
    {% else %}
        <div class="head">
            <h1>Zaloguj się, aby generować zdjęcia.</h1>
            <a id="btn-head" href="{% url 'signin' %}"><button type="submit" class="btn btn-primary">Zaloguj</button></a>
        </div>

        <div class="container mt-5">
            <form method="post" id="image-form" class="text-center">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="prompt" class="form-label">Wpisz zapytanie (po angielsku):</label>
                            <!-- Ustawienie wartości textarea na wartość prompt -->
                            <textarea id="prompt" name="prompt" required rows="4" class="form-control" disabled>{{ request.POST.prompt|default:"Tu wpisz swoje zapytanie" }}</textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="negative_prompt" class="form-label">Wpisz negatywne zapytanie:</label>
                            <!-- Ustawienie wartości textarea na wartość negative_prompt -->
                            <textarea id="negative_prompt" name="negative_prompt" rows="4" class="form-control" disabled>{{ request.POST.negative_prompt|default:"ugly, deformed, poor quality" }}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="number_of_images" class="form-label">Ilość obrazów (1-10):</label>
                            <!-- Ustawienie wartości input na wartość number_of_images -->
                            <input type="number" id="number_of_images" name="number_of_images" value="{{ request.POST.number_of_images|default:1 }}" min="1" max="10" required class="form-control" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="seed" class="form-label">Seed:</label>
                            <!-- Ustawienie wartości input na wartość seed -->
                            <input type="number" id="seed" name="seed" value="{{ request.POST.seed|default:1 }}" required class="form-control" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="width" class="form-label">Szerokość:</label>
                            <input type="number" id="width-number" name="width" value="{{ request.POST.width|default:512 }}" min="256" max="1024" class="form-control" disabled oninput="this.nextElementSibling.value = this.value">
                            <input type="range" id="width" name="width" min="256" max="1024" value="{{ request.POST.width|default:512 }}" class="form-slider" disabled oninput="this.previousElementSibling.value = this.value">
                        </div>
                        <div class="col-md-4">
                            <label for="height" class="form-label">Wysokość:</label>
                            <input type="number" id="height-number" name="height" value="{{ request.POST.height|default:512 }}" min="256" max="1024" class="form-control" disabled oninput="this.nextElementSibling.value = this.value">
                            <input type="range" id="height" name="height" min="256" max="1024" value="{{ request.POST.height|default:512  }}" class="form-slider" disabled oninput="this.previousElementSibling.value = this.value">
                        </div>
                        <div class="col-md-4">
                            <label for="num_inference_steps" class="form-label">Ilość kroków:</label>
                            <input type="number" id="steps-number" name="steps" value="{{ request.POST.steps|default:20 }}" min="1" max="100" class="form-control" disabled oninput="this.nextElementSibling.value = this.value">
                            <input type="range" id="steps" name="steps" min="1" max="100" value="{{ request.POST.steps|default:20 }}" class="form-slider" disabled oninput="this.previousElementSibling.value = this.value">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" disabled>Generuj obraz</button>
                </form>
            </div>
    {% endif %}
    <script src="{% static 'js/loading.js' %}"></script>
    <script src="{% static 'js/download-image.js'%}"></script>
    <script src="{% static 'js/modal.js' %}"></script>

{% endblock %}