{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <main class ="registration">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                {{ error }} <br>
                {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-primary">Zaloguj</button>
            <p class="ref">Nie masz konta? <a href="{% url 'signup' %}">Zarejestruj się</a></p>
        </form>

    </main>

{% endblock %}